<h1>Stupid Coaching</h1>
<form action="/answer" method="get">
  <div class="form">
    <input id="input_one" type="text" name="question" placeholder="ask your coach anything?">
  <button id="btn" type="submit"></button>
  </div>

</form>


<!-- <form action="/restaurants" method="get">
  <input type="text" name="food_type" placeholder="What kind of food?">
  <input type="submit">
</form> -->
